.vital {
  min-width:200px;
  margin:5px;
  position: relative;
  padding: 10px;
  padding-bottom:0;
  background:none;

  .ant-card-body {
    border:none;
  }

  .title {
    line-height: 1em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #5a5a5a;
  }
  .units {
    font-size: 0.85em;
    font-weight: normal;
  }
  .value {
    margin-top: 10px;
    font-size: 1.2em;
    width: 100%;
    color: #414141;
    font-weight: bold;
    line-height: 1em;
  }
  .date {
    font-size: 0.7em;
    color: #ccc;
    margin-top:5px;
  }

  .icon {
      float:left;
      font-size: 2em;
      min-height: 60px;
      margin-right: 5px;
      color: #23aee7;
      opacity: 0.3;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
  }
  &:hover {
    .icon {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    
  }

  &.vital-critical {
    .value, .date {
      color: red;
    }
  }
}


.ant-card-body .ant-carousel .slick-dots  {
  li.slick-active button {
    background: #ccc;
  }
  li button {
    background: #ccc;
  }
}