.userside {
    .assessment-section {
        .ant-card-head {
            background: #1da1ff;
            color: #fff;
        }
        .ant-card-body {
            background: #fff !important;

            .dimmed-block {
                background: #fff !important;
            }

            .ant-btn-primary {
                background: #1da1ff;
            }
        }
    }
}

.assessment-section.builder-mode {
    &.active-section {
        box-shadow: 0px 0px 4px 2px #ccc;
    }
    .ant-card-body {
        .assessment-question {
            &.selected-element, &:hover {
                box-shadow: 0px 0px 4px 2px #90d5ff;
                padding: 5px;
                margin: -5px;
            }
        }
    }
}