.color-select {
    clear:both;
    
    &-item {
        display: inline-block;
        width:16px;
        height:16px;
        background: #ccc;
        border: 1px solid transparent;
        margin: 2px;
        cursor: pointer;
        &.selected {
            border: 1px solid #90d5ff;
            box-shadow: 0px 0px 1px 1px #90d5ff;
        }
    }
}