@import 'base';
$blue:    #4294cc;// blue color
$input-btn-padding-x: 1.5rem;// padding for buttons

//@import '~bootstrap/scss/bootstrap.scss';
//@import '~antd/dist/antd.css';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}









