.select-inline {
    background: #fff;
    padding: 10px;
    border:1px solid #ccc;
    margin-bottom:10px;
    .ant-col > span {
        font-size:1.3em;
        line-height: 1em;
    }

    &-item {
        border: 1px solid #ccc;
        padding:4px;
        margin:1px;
        display: inline-block;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 4px 1px #90d5ff;
        }
    }
}

.ant-affix {
    .select-inline {
        border-color: transparent;
        box-shadow: 0px 2px 3px -1px #ccc;
    }
}