.empty-builder-text {
  margin: auto;
  margin-top: 20%;
  max-width: 330px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 0px 1px #fdfdfd;
  border-radius: 3px;
  padding: 30px 15px;
  text-align: center;
  color: #ababab;
}

.plan-menu {
  .ant-menu-inline {
    border-right:none;
  }
}

.plan-body {

  

  .ant-list {

    .ant-list-item {
      // padding:0;
       
      .ant-card-head-wrapper {
        min-height:0;
      }
      .ant-card-head {
        padding:0;
        min-height:0;
      }
      .ant-card-body {
        padding:16px 0;
      }
      
      .ant-card-head-title {
        white-space: initial;
        padding-bottom:8px;
      }

      &:first-child {
        .ant-card-head-title {
          padding-top:0;
        }
      }
    }

  }
  
}

.userside {
  .plan-body {
    .ant-card:not(.transparent) {
      .ant-card-body {
        background: #fff;
      }
    }
  }
}