.empty-builder-text {
  margin: auto;
  margin-top: 20%;
  max-width: 330px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 0px 1px #fdfdfd;
  border-radius: 3px;
  padding: 30px 15px;
  text-align: center;
  color: #ababab;
}

.plan-menu {
  padding:0;
  margin:0;
  .ant-menu-inline {
    border-right:none;
  }
}

.plan-body {

  .ant-card-type-pure > .ant-card-body {
    padding-top: 1px !important;
  }
  

  .ant-list {

    .element > .ant-card {
      .ant-card-head-wrapper {
        min-height:0;
      }
      .ant-card-head {
        padding:0;
        min-height:0;
      }
    
     
      .ant-card-body {
        padding:16px 0;
        .ant-card-body {
          padding: 24px;
        }
      }
  }

    .ant-list-item {
      // padding:0;
      
      .ant-card-extra {
        padding:0 !important;
      }

      .ant-card-head-title {
        white-space: initial;
        padding-bottom:4px;
        font-weight:bold;
        font-size: 13px;
      }

      // &:first-child {
        .ant-card-head-title {
          padding-top:0;
        }
      // }
    }

  }
  
}

.userside {
  .plan-body {
    .ant-card:not(.transparent) {
      .ant-card-body {
        background: #fff;
      }
    }

    .plan-elements > {
      .ant-card-head {
        padding-left: 0;
        min-height: auto;
      }
      .ant-card-body {
        padding: 16px 0;
      }
    }
  }
}