.ct-block {
    border: 1px solid #e8e8e8;
    margin: 5px;
    padding: 15px;
    border-radius: 2px;
    
    .number {
        font-size:2em;
        color: #3C87B9;
        text-align: center;
    }
    .text {
        font-size:1.2em;
        color: #375685;
        text-align: center;
    }
}


.topBorderedTab {
    .ant-tabs-bar {border-bottom:none;}
     .ant-tabs-ink-bar {
        bottom: auto;
    }
}